.navbar {
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}
.nav-toggler {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: black;
  color: white;
  border-color: white;
  z-index: 2;
}
.navImageContainer {
  object-fit: contain;
  width: 250px;
  aspect-ratio: 3/2;
  height: 200px;
}
.navImageContainer img {
  width: 100%;
}
.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
.nav-menu li {
  padding:10px;
  text-align: center;
}
.nav-menu li a {
  font-size:4rem;
  
}
.nav-menu li a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}
.nav-menu {
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  width: 75%;
  background-color: black;
  transform: scale(0); /* Initially hidden */
  transform-origin: top right; /* Popping up from top right corner */
  transition: transform 0.5s ease; /* Smooth transition */
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu.open {
    transform: scale(1); /* Fully visible */
    opacity: 1;
    width: 100%;
    height: 100vh;
    border-radius: 50%;
    border-radius: 10px;
}
